@import "./_commonColors.css";

#newScrollToTop {
    position: absolute;
    bottom: calc(7vh + 15px);
    right: calc(1vw + 10px);
    z-index: 260;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: #ffa500a5;
    cursor: pointer;
}

#newScrollToTop::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    width: 10px;
    height: 10px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    transition: transform 0.3s ease;
}

#newScrollToTop.active::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (min-width: 720px) {
    #newScrollToTop {
        width: 64px;
        height: 64px;
    }

    #newScrollToTop::after {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 1100px) {
    #newScrollToTop {
        width: 74px;
        height: 74px;
    }

    #newScrollToTop::after {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 1400px) {
    #newScrollToTop {
        width: 74px;
        height: 74px;
    }

    #newScrollToTop::after {
        width: 20px;
        height: 20px;
    }
}